body {
	margin: 0;
}

div {
	text-align: center;
	color: white;
}

.parallax {
	background-color: black;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh; /*as 100%*/
}

.text {
	position: relative;
	top: 50%;
	font-size: 50px;
}

.block {
	background-color: black;
	height: 1000px;
}

#img1 {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8d/42_Logo.svg");
}

#img2 {
	background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fsphero.com%2Fblogs%2Fnews%2Ftypes-of-coding-languages&psig=AOvVaw3xfXohcfdbrJcwFVg63Qv_&ust=1698922031426000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCNCspPXPooIDFQAAAAAdAAAAABAD");
}

