h1 {
    color: black;
    font-size: 50px;
    text-align: center;
    font-family: fantasy;
}

button {
    border: 0;
    outline: solid;
    outline-color: grey;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: progress;
    width: 150px;
    height: 90px;
    font-size: 18px;
    font-family: fantasy;
    position: absolute;
}

.button-size-1 {
    width: 100px;
    height: 60px;
}


button:hover {
    opacity: 0.5;
}

.button-position {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 47%;
}
